# Terraform files
**/.terraform/              # Match .terraform folders anywhere in the repo
*.tfstate
*.tfstate.*                 # Catch all tfstate variations (backups, .backup, etc.)
*.tfvars
*.tfplan
.terraform.lock.hcl
tfplan.out

# Python files
**/__pycache__/
*.py[cod]
*.so
*.egg-info/
**/venv/

# Docker files
Dockerfile*
docker-compose*
.dockerignore

# AWS CLI and credentials
.aws/
*.pem

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# cv files
*.pth
*.pkl

# source pdf files
*.pdf

# archive
*.zip

# Logs and temporary files
*.log
*.tmp
*.bkp

# Build and distribution files
dist/
build/

# Environment files
.env
.env.local

# OS metadata
.DS_Store
Thumbs.db

# Hidden files (careful with this!)
.*
!.gitignore
